@import 'partials/setup';
@import 'partials/global';
@import 'partials/header';
@import 'partials/variables';
@import 'partials/podcasts';

div.genreChoice {
	background-image: url(../../Assets/bg-polygon2.jpg);
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 7%;
}

div.genreChoice h2 {
	margin: 0;
	font-size: 4rem;
	text-align: center;
	font-family: $headerFont;
	color: #8d7070;
	padding-bottom: 5%;
}

div.genreChoice input {
	display: none;
}

div.inputs {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
} 

div.inputs label {
	cursor: pointer;
}

div.inputs img {
	padding: 20%;
}

div.inputs label:hover {
	transform: scale(1.2);
}

@media (max-width: 768px) {
	div.inputs label:active {
	background-color: #459e92;
	border: 2px solid #ffff00;
}
}

div.inputs p {
	text-align: center;
	font-family: $subFont;
	font-size: 3rem;
	color: #ffff00;
	font-weight: 500px;
}